header {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
}

p,
a {
  margin: 0 !important;
  padding: 0 !important;
}

.company-name {
  font-size: 1.1rem;
  font-weight: 600;
}

.role {
  font-weight: 600;
}

.duration,
.location {
  font-size: 0.9rem;
}

.description {
  font-size: 0.95rem;
}

.see-more {
  font-size: 0.9rem;
  text-decoration: none;
}

.see-more:hover {
  text-decoration: underline;
}

.experience-section .card-footer {
  padding-top: 0;
}

.experience-section .card-footer .btn-link {
  color: #0a66c2; /* Colore blu di LinkedIn */
  font-weight: 600;
}

main {
  background-color: black !important;
  height: 100vh;
}

/* NAVBAR */

@media screen and (min-width: 576px) {
  #home,
  #custom-navbar {
    width: 90% !important;
  }
}

@media screen and (min-width: 768px) {
  #home,
  #custom-navbar {
    width: 85% !important;
  }
}

@media screen and (min-width: 992px) {
  #home,
  #custom-navbar {
    width: 92% !important;
  }
}

#search {
  width: 280px;
  height: 35px;
}

#search .input-group-text {
  background-color: #38434f;
  color: white;
  border: none;
}

#search .form-control {
  background-color: #38434f;
  color: white;
  border: none;
  padding-left: 0;
  font-size: small;
}

#search .form-control:focus {
  background-color: #38434f;
  color: white;
  outline: none;
  box-shadow: none;
}

#search .input-group-text {
  border-radius: 1;
}

#search .form-control {
  border-radius: 1;
}

.iconNames {
  font-size: small;
  margin-top: 0;
}

.user-dropdown > .dropdown-toggle::after {
  display: none !important;
}

.companies-dropdown .dropdown-toggle::after {
  display: none;
}

.companies-dropdown {
  border-left: 0.5px solid rgba(255, 255, 255, 0.2);
  padding-left: 30%;
}

.dropdown-menu {
  padding: 0;
}

.custom-arrow {
  font-size: medium;
}

.premium {
  color: #e9a53f;
  text-decoration: underline;
  font-size: small;
  width: 130px;
  text-align: center;
}

.nav-dropdown-divider {
  border: 0.5px solid rgba(255, 255, 255, 0.2);
}

@media (min-width: 768px) {
  .divider {
    border-right: 0.5px solid rgba(255, 255, 255, 0.2);
  }
}

@media (max-width: 768px) {
  .dividersm {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
  }
}

.dropdown-menu{
  background-color: transparent;
  border: none;
}

.user-dropdown .dropdown-menu {
  background-color: #212529;
  color: #fff;
  border: none;
  min-width: 250px;
}


.user-dropdown .dropdown-item,
.user-dropdown .dropdown-item:hover {
  background-color: #212529;
  color: #fff;
}

.companies-dropdown .dropdown-item,
.companies-dropdown .dropdown-item:hover {
  background-color: #212529;
  color: #fff;
}

.font {
  font-size: 0.7rem;
}

.title {
  font-size: 0.9rem;
}

.ul:hover{
  text-decoration: underline;
  text-decoration-color: grey;
  text-decoration-thickness: 1px;
}

.try:hover {
  color: #0a66c2 !important;
}

.hover-drop:hover {
  text-decoration: underline;
  text-decoration-color: #007bff;
  text-decoration-thickness: 1px;
}

.containerUserDropdown {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #fff;
}

.containerUserDropdown .profile-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 15px;
}

.containerUserDropdown h5,
.containerUserDropdown p {
  margin: 0;
  color: #fff;
}

input::placeholder {
  font-size: 1.2em;
  color: #fff !important;
}

.btnProfile {
  border: 1px solid #71b7fb !important;
  color: #71b7fb !important;
  background-color: transparent !important;
  width: 90% !important;

}

.dots-dropdown .dropdown-toggle::after {
  display: none; 
}

/*BODY*/
main {
  background-color: black;
}
